html, body {
    height: 100%;
    margin: 0;
}
.wrapper {
    min-height: 100%;

    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
}
.footer,
.push {
    height: 50px;
}

#navbar {
    background-color: #dadada;
    overflow: hidden;
    box-shadow: 0 6px 5px 0 rgba(0,0,0,0.3);
    margin: 0 auto;
    width: 100%;
    vertical-align: middle;
    height: 70px;
}

#navbar ul {
    margin: 0;
    padding: 0;
    height: 70px;
    display: inline;
}

#navbar li {
    float: left;
    padding: 8px;
    display: table;
    height: 70px;
}

#navbar li a {
    display: table-cell;
    vertical-align: middle;
}

#nav-title {
    display: inline;
}

#btn-login {
    float: right;;
}

.link-unstyled {
    color: inherit;
    text-decoration: none;
}

.link-unstyled:hover, .link-unstyled:focus {
    color: inherit;
    text-decoration: none;
}