/* Dark Mode */

.dark-mode {
    filter: invert(1) hue-rotate(180deg);
}
/* Add class inverted, not invert to elements not to be inverted */
.invert {
    filter: invert(1) hue-rotate(180deg);
}

html, body {
    height: 100%;
    margin: 0;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #dadada;
}

#navbar {
    background-color: #dadada;
    overflow: hidden;
    box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    width: 100%;
    vertical-align: middle;
    height: 70px;
}

#navbar ul {
    margin: 0;
    padding: 0;
    height: 70px;
    display: inline;
}

#navbar li {
    float: left;
    padding: 8px;
    display: table;
    height: 70px;
}

#navbar li a {
    display: table-cell;
    vertical-align: middle;
}

#nav-title {
    display: inline;
}

#btn-login {
    float: right;;
}

.link-unstyled {
    color: inherit;
    text-decoration: none;
}

.link-unstyled:hover, .link-unstyled:focus {
    color: inherit;
    text-decoration: none;
}

.modal-content {
    transition: 1s;
}

.reset-code {
    width: 15ch;
    margin: 0 auto;
    text-align: center;
}