#navbar {
    background-color: #dadada;
    overflow: hidden;
    box-shadow: 0 6px 5px 0 rgba(0,0,0,0.3);
    margin: 0 auto;
    width: 100%;
    vertical-align: middle;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    float: left;
    padding: 8px;
    display: inline-block;
}

li a {
    display: block;
}

#nav-title {
    display: inline;
}

#btn-login {
    float: right;;
}

.link-unstyled {
    color: inherit;
    text-decoration: none;
}

.link-unstyled:hover, .link-unstyled:focus {
    color: inherit;
    text-decoration: none;
}